body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: clip;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.header {
    display: flex;
  
    background-color: #E2D5D5;
    width: 100%;
    box-shadow: 0 5px 10px #66656550;
    position: fixed;
    z-index: 100;
}
.header img {
    padding-top: 15px;
    height: 90px;
    margin-left: 90px;
}

.header h1 {
    font-size: 20px;
    margin: 0;
    margin-left: -80px;
    margin-top: 110px;
}

.header p {
    font-size: 20px;
    margin-left: -110px;
    margin-bottom: 5px;
    margin-top: 135px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    background-color: #fff;
    margin: auto;
    max-width: 1200px;
}

#line {
    width: 100%;
    opacity: 0.3;
    margin-left: 100px;
}

#edit {
    font-weight: bolder;
    margin-top: 50px;
    margin-left: 205px;
}
.about {
    margin-top: 50px;
    margin-bottom: 0px;
    background-color: #F7F2EF;
}
.about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-item {
    text-align: left;
}

.about-item img {
    width: 100px;
    margin-left: -117px;
    margin-top: -100px;
    box-shadow: 0 3px 10px rgb(0, 0, 0);
    border-radius: 11px;
}

.about-item h3 {
    font-weight: 900;
    text-decoration: underline;
    margin-top: -90px;
}

.about-item p {
    margin-top: -50px;
    color: #666;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.content h2 {
    font-size: 100px;
    margin: 20px 0;
}

.content p {
    font-size: 18px;
    margin: 10px 0;
}

.image-container {
    margin-top: 20px;
}

.image-container img {
    max-width: 100%;
    height: 150px;
    border-radius: 10px;
}

.divider {
    font-size: 80px;
    font-family: Arial;
    margin-left: 35px;
    margin-top: -100px;
}
.subheader {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(95, 83, 83, 0.925);
    position: relative;
    margin-left: 60px;
    margin-bottom: 75px;
    margin-top: -110px;
}

.footer {
    color: #FFFFFF;
    padding: 40px;
    background-color: #36324b;
    text-align: center;
}

.mainSection {
  
    padding: auto;
    width: 1200px;
    height: 700px;
    margin-top: 250px;
    margin-left: 170px;
}

.mainSection img {
    box-shadow: 0 3px 10px #000;
    border-radius: 11px;
}

#edit1 {
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 100px;
}

.event-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 500px;
}

.event-item {
    text-align: left;
}

.event-item img {
    width: 250px;
    height: 500px;
    margin-left: -117px;
    margin-top: -100px;
    box-shadow: 0 3px 10px #000;
    border-radius: 17px;
}

#p1 {
    font-size: 17px;
    margin-left: 150px;
    margin-top: -50px; /* Corrected value */
    color: #666;
}

.event-item h3 {
    font-size: 23px;
    font-weight: 700;
    margin-left: 150px;
    margin-top: 0px; /* Corrected value */
}

#p2 {
    font-size: 17px;
    margin-left: 150px;
    text-align: center;
    margin-top: 0px; /* Corrected value */
    color: #666;
    text-align: left;
}

#p3 {
    font-size: 17px;
    margin-left: 115px;
    text-align: center;
    margin-top: 0px; /* Corrected value */
    color: #666;
}


#p1 {
    font-size: 17px;
    margin-left: 150px;
    margin-top: -500px;
    color: #666;
}

.event-item h3 {
    font-size: 23px;
    font-weight: 700;
    margin-left: 150px;
    margin-top: -5px;
}

#p2 {
    font-size: 17px;
    margin-left: 150px;
    text-align: center;
    margin-top: -15px;
    color: #666;
    text-align: left;
}

#p3 {
    font-size: 17px;
    margin-left: 115px;
    text-align: center;
    margin-top: -15px;
    color: #666;
}

@keyframes appear {
    from {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

.block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.footer-container {
    background-color: #333333;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.info, .form {
    width: 45%;
}

.info h2 {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 0px;
    padding-bottom: -30px;
}

.info p {
    color: #cccccc;
}

.form h2 {
    color: #ffffff;
}

.form input, .form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #444444;
    border: none;
    color: #ffffff;
}

.form button {
    background-color: #ffffff;
    color: #1a1a1a;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.form button:hover {
    background-color: #d18e00;
}

.copyright {
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
    color: #666666;
}

.about-section a {
    color: #000;
}

.about-section a:hover {
    color: brown;
}
.calendar {
    margin: 0 85px;
    height: 30rem;
    width: max-content;
    background-color: #F7F2EF;
    border-radius: 25px;
    overflow: hidden;
    padding: 10px 50px 50px 20px;
  }
  #edit10 {
    font-weight: bolder;
    margin-top: 2px;
    margin-left: 150px;
}
  .calendar-header {
    margin: 10px;
    background: #b9adad;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    align-items: center;
    font-weight: 700;
    color: #000000;
    
  }

  .calendar-body {
    padding: 10px;
    padding-right: 0px;
  }
  
  .calendar-week-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    cursor: pointer;
    color: rgb(104, 104, 104);
  }
  
  .calendar-week-days div:hover {
    color: black;
    transform: scale(1.2);
    transition: all .2s ease-in-out;
  }
  
  .calendar-week-days div {
    font-size: 25px;
    display: grid;
    width: 200px;
    border-radius: 5px;
    background-color: #b9adad;
    place-items: center;
    color: rgb(0, 0, 0);
    height: 50px;
  }
  
  .calendar-days {
    font-weight: bold;
    font-size: 22px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    color: #0A0921;
  }
  
  .calendar-days div {
    width: 200px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
  }
  
  .month-picker {
    font-size: 30px;
    padding: 10px 235px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .year-picker {
    font-size: 30px;
    padding-left: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .year-change {
    border-radius: 50%;
    display: grid;
    margin: auto 70px;
    place-items: center;
    cursor: pointer;
  }
  
  .year-change:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.12);
  }
  
  .calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  #year:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2 ease-in-out;
  }
  
  .calendar-days div span {
    position: absolute;
  }
  
  .calendar-days div:hover {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    border-radius: 20%;
    color: #000000;
  }
  
  .calendar-days div.current-date {
    color: brown;
    border-radius: 20%;
  }
  
  .month-list {
    position: relative;
    left: 0;
    top: -250px;
    background-color: #ebebeb;
    color: #151426;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 5px;   
    border-radius: 20px;
  }
  
  .month-list>div {
    display: grid;
    place-content: center;
    margin: 5px 10px;
    transition: all 0.2s ease-in-out;
  }
  
  .month-list>div>div {
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
  }
  
  .month-list>div>div:hover {
    background-color: brown;
    color: #f8fbff;
    transform: scale(0.9);
    transition: all 0.2s ease-in-out;
  }
  
  .month-list.show {
    visibility: visible;
    pointer-events: visible;
    transition: 0.6s ease-in-out;
    animation: to-left .71s forwards;
  }
  
  .month-list.hideonce {
    visibility: hidden;
  }
  
  .month-list.hide {
    animation: to-right 1s forwards;
    visibility: none;
    pointer-events: none;
  }
  
  .date-time-formate {
    position: relative;
    width: 100%;
    font-family: Dubai Light, Century Gothic;
    display: flex;
    top: 50px;
    justify-content: center;
    align-items: center;
  }
  
  .day-text-formate {
    font-family: Microsoft JhengHei UI;
    font-size: 1.4rem;
    padding-right: 5%;
    border-right: 3px solid #9796f0;
  }
  
  .date-time-value {
    display: block;
    position: relative;
    text-align: center;
    padding-left: 5%;
  }
  
  .time-formate {
    font-size: 1.5rem;
  }
  
  .time-formate.hideTime {
    animation: hidetime 1.5s forwards;
  }
  
  .day-text-formate.hidetime {
    animation: hidetime 1.5s forwards;
  }
  
  .date-formate.hideTime {
    animation: hidetime 1.5s forwards;
  }
  
  .day-text-formate.showtime {
    animation: showtime 1s forwards;
  }
  
  .time-formate.showtime {
    animation: showtime 1s forwards;
  }
  
  .date-formate.showtime {
    animation: showtime 1s forwards;
  }
  
  @keyframes to-top {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
  
    100% {
      transform: translateY(100%);
      opacity: 1;
    }
  }
  
  @keyframes to-left {
    0% {
      transform: translatex(230%);
      opacity: 1;
    }
  
    100% {
      transform: translatex(0);
      opacity: 1;
    }
  }
  
  @keyframes to-right {
    10% {
      transform: translatex(0);
      opacity: 1;
    }
  
    100% {
      transform: translatex(-150%);
      opacity: 1;
    }
  }
  
  @keyframes showtime {
    0% {
      transform: translatex(250%);
      opacity: 1;
    }
  
    100% {
      transform: translatex(0%);
      opacity: 1;
    }
  }
  
  @keyframes hidetime {
    0% {
      transform: translatex(0%);
      opacity: 1;
    }
  
    100% {
      transform: translatex(-370%);
      opacity: 1;
    }
  }
  .background-back {
    background-color: #F7F2EF;
    padding: 50px;
}
  
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  }
  
.wrapper1 {
  width: 100%;
  height: 600px;
  display: flex;
  padding: 20px;
  float: bottom;
  justify-content: center;
  }

.containerx {
  width: 850px;
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  }

.cardx {
  width: 175px;
  height:500px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.50,-0.03,0,.69);
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
  }

.cardx > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
  }
.containerx input {
  display: none;
  }
.containerx input:checked + label {
  width: 2000px;
  }
.text-overlay h3 {
  font-size: 16px;
  padding-left: 10px;
  padding-bottom: -15px;
  font-weight: lighter;
}
.text-overlay h1 {
    padding-bottom: 5px;
    font-weight: bold;
    color: #000000;
    font-size: 16px;
    padding-left: 10px;
  }
.text-overlay p {
  padding-right: 10px;
  padding-left: 10px;
  text-align: justify;
  padding-bottom: 250px;
}

  .donate-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.donate-button span {
  font-size: 30 px;
  font-weight: bold;
}

.donate-button a {
    margin-left: 1350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.donate-button img {
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
}
.header a {
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 28px;
  display: inline-block;
  position: relative;
  left: 700px;
  justify-content: space-between;
  padding: 60px 20px 0px 28px;
  font-weight: bold;
}

.button {
  margin-top: -50px;
  color: #A36A28;
  font-size: 30px;
  background-color: #E2D5D5;
  border: 4px solid #A36A28;
  border-radius: 10px;
  cursor: pointer;
  padding: 37px;  
  transition: all 0.1s;
  box-shadow: 0 5px 10px #66656550;
}
.button:active {
  box-shadow: 0px 2px 0px #A36A28;
  position: relative;
  top: 2px;
}
.donate h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
    background-color: #171717;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    overflow: hidden;
  }
.donate button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: #E2D5D5;
    text-transform: uppercase;
    padding: 15px 8px;
    border-radius: 10px;
    border: 2px solid #fafafa;
    background: #A36A28;
    box-shadow: 3px 3px #fafafa;
    font-weight: bold;
    margin: 0px 190px;
  }
  .donate p {
    color: #666565;
    margin-left: 190px;
    font-size: 25px;
  }
